* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.aar binary
*.aab binary
*.apk binary
*.gif binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.keystore binary
*.png binary
*.so binary
*.webp binary
*.zip binary
